@mixin openNavAnimation {
  @keyframes openNav {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  animation: openNav 0.7s ease-in-out 0s forwards;
}
